<% errors.forEach(message => { %>
    <div class ="alert alert-danger text-center"> <%= message %> </div>
<% }) %>

<% success.forEach(message => { %>
    <div class ="alert alert-success text-center"> <%= message %> </div>
<% }) %>